absl-py==0.9.0
aiohttp==3.6.2
alabaster==0.7.12
anaconda-client==1.7.2
anaconda-navigator==1.9.7
anaconda-project==0.8.3
asn1crypto==1.3.0
astor==0.8.0
astroid==2.3.3
astropy==4.0
async-timeout==3.0.1
atomicwrites==1.3.0
attrs==19.3.0
Babel==2.8.0
backcall==0.1.0
backports.functools-lru-cache==1.6.1
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
barplots==1.1.3
beautifulsoup4==4.8.2
bitarray==1.2.1
bkcharts==0.2
bleach==3.1.0
blinker==1.4
blis==0.4.1
bokeh==2.0.0
boto==2.49.0
Bottleneck==1.3.2
cache-decorator==1.2.2
cachetools==3.1.1
catalogue==1.0.0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
Click==7.0
cloudpickle==1.3.0
clyent==1.2.2
cmake==3.17.3
codacy-coverage==1.3.11
colorama==0.4.3
compress-json==1.0.3
compress-pickle==1.1.1
conda==4.8.2
conda-build==3.18.9
conda-package-handling==1.6.0
conda-verify==3.4.2
contextlib2==0.6.0.post1
coverage==5.1
coveralls==2.0.0
crr-labels==1.0.8
cryptography==2.8
cycler==0.10.0
cymem==2.0.3
Cython==0.29.15
cytoolz==0.10.1
dask==2.12.0
dateparser==0.7.4
decorator==4.4.2
defusedxml==0.6.0
dict-hash==1.0.8
distributed==2.12.0
docopt==0.6.2
docutils==0.16
en-core-web-sm==2.2.5
encodeproject==1.0.17
entrypoints==0.3
environments-utils==1.0.2
epigenomic-dataset==1.1.4
et-xmlfile==1.0.1
fastcache==1.1.0
filelock==3.0.12
Flask==1.1.1
fsspec==0.6.2
future==0.18.2
gast==0.2.2
gevent==1.4.0
gitdb==4.0.5
GitPython==3.1.2
glob2==0.7
gmpy2==2.0.8
google==2.0.3
google-auth==1.14.1
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
greenlet==0.4.15
grpcio==1.27.2
h5py==2.10.0
HeapDict==1.0.1
html5lib==1.0.1
humanize==2.2.0
hypothesis==5.5.4
idna==2.8
imageio==2.6.1
imagesize==1.2.0
importlib-metadata==1.5.0
IPy==1.0
ipykernel==5.2.1
ipython==5.5.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.16.0
jeepney==0.4.2
Jinja2==2.11.1
joblib==0.14.1
json5==0.9.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.0.0
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyterlab==1.1.4
jupyterlab-server==1.0.6
Keras==2.3.1
Keras-Applications==1.0.8
keras-bed-sequence==1.1.1
keras-ding==1.0.4
keras-mixed-sequence==1.0.6
Keras-Preprocessing==1.1.0
keras-tqdm==2.0.1
keyring==21.1.0
kiwisolver==1.1.0
langdetect==1.0.8
lazy-object-proxy==1.4.3
libarchive-c==2.8
lief==0.9.0
llvmlite==0.31.0
locket==0.2.0
lxml==4.5.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.3
mccabe==0.6.1
minepy==1.2.4
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
mock==4.0.1
more-itertools==8.2.0
mpmath==1.1.0
msgpack==0.6.1
MulticoreTSNE==0.1
multidict==4.7.5
multipledispatch==0.6.0
murmurhash==1.0.2
navigator-updater==0.2.1
nbconvert==5.6.0
nbformat==4.4.0
networkx==2.4
nltk==3.4.5
nose==1.3.7
notebook==5.2.2
notipy-me==1.3.14
numba==0.48.0
numexpr==2.7.1
numpy==1.18.1
numpydoc==0.9.2
oauthlib==3.1.0
olefile==0.46
openpyxl==3.0.3
opt-einsum==3.1.0
packaging==20.3
pandas==1.0.3
pandocfilters==1.4.2
parso==0.6.1
partd==1.1.0
path==13.1.0
pathlib==1.0.1
pathlib2==2.3.5
patsy==0.5.1
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.0.0
pkginfo==1.5.0.1
plac==1.1.3
plot-keras-history==1.1.20
pluggy==0.13.1
ply==3.11
portpicker==1.2.0
preshed==3.0.2
prince==0.7.0
progettobioinf==1.0.0
prometheus-client==0.7.1
prompt-toolkit==1.0.18
protobuf==3.11.4
psutil==5.7.0
ptyprocess==0.6.0
py==1.8.1
py-spy==0.3.3
pyasn1==0.4.8
pyasn1-modules==0.2.7
pybwtool==1.0.8
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0.5
pyflakes==2.1.1
Pygments==2.5.2
PyJWT==1.7.1
pylint==2.4.4
pymongo==3.10.1
pyodbc===4.0.0-unsupported
pyOpenSSL==19.1.0
pypandoc==1.5
pyparsing==2.4.6
pyrsistent==0.15.7
PySocks==1.7.1
pytest==5.3.5
pytest-arraydiff==0.3
pytest-astropy==0.8.0
pytest-astropy-header==0.1.2
pytest-cov==2.8.1
pytest-doctestplus==0.5.0
pytest-openfiles==0.4.0
pytest-remotedata==0.3.2
python-dateutil==2.8.1
pytz==2019.3
PyWavelets==1.1.1
PyYAML==5.3
pyzmq==18.1.1
QtAwesome==0.6.1
qtconsole==4.5.5
QtPy==1.9.0
ray==0.8.4
redis==3.4.1
regex==2020.2.20
requests==2.21.0
requests-oauthlib==1.3.0
rope==0.16.0
rsa==4.0
ruamel-yaml==0.15.87
sanitize-ml-labels==1.0.9
scikit-image==0.16.2
scikit-learn==0.22.1
scipy==1.4.1
seaborn==0.10.0
SecretStorage==3.1.2
Send2Trash==1.5.0
setup-python-package==1.1.5
simpleaudio==1.0.4
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.12.0
sklearn==0.0
smmap==3.0.4
snowballstemmer==2.0.0
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==1.9.5
spacy==2.2.4
Sphinx==2.4.0
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.2.0
spyder==3.3.6
spyder-kernels==0.5.2
SQLAlchemy==1.3.13
srsly==1.0.2
statsmodels==0.11.0
sympy==1.5.1
tables==3.6.1
tabulate==0.8.7
tblib==1.6.0
tensorboard==2.0.2
tensorboardX==2.0
tensorflow==2.0.1
tensorflow-estimator==2.0.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
thinc==7.4.0
toolz==0.10.0
tornado==4.5.3
tqdm==4.45.0
traitlets==4.3.3
typing-extensions==3.7.4.1
tzlocal==2.0.0
ucsc-genomes-downloader==1.1.18
unicodecsv==0.14.1
urllib3==1.24.3
userinput==1.0.13
validate-email==1.3
validate-version-code==1.0.4
validators==0.14.2
wasabi==0.6.0
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==0.16.0
widgetsnbextension==3.5.1
wrapt==1.11.2
wurlitzer==2.0.0
xlrd==1.2.0
XlsxWriter==1.2.7
xlwt==1.3.0
yarl==1.4.2
zict==1.0.0
zipp==2.2.0
